<section class="mb-6">
    <div class="bg-white w-full p-6 shadow-lg rounded overflow-hidden">
        <div *ngIf="!sended; else elseContact">
            <h2 class="font-bold text-2xl mb-6 text-center">Contactanos</h2>
            <p class="text-center text-gray-600 mb-6">Ingresa los datos en el formulario, contestaremos lo más pronto
                posible.
            </p>
            <form class="w-full max-w-lg mx-auto" [formGroup]="fields" (ngSubmit)="onSubmit(fields.value)">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name">
                            Nombre
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white ng-valid"
                            id="grid-first-name" type="text" placeholder="Omar" name="first_name" required
                            formControlName="first_name">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            Apellidos
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ng-valid"
                            id="grid-last-name" type="text" placeholder="Flórez" name="last_name" required
                            formControlName="last_name">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-message">
                            Mensaje
                        </label>
                        <textarea
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ng-valid"
                            id="grid-message" placeholder="Mensaje" name="message" formControlName="message"
                            required></textarea>
                    </div>
                </div>
                <div>
                    <div class="md:w-1/3"></div>
                    <div class="md:w-2/3">
                        <button
                            class="shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-10 rounded"
                            type="submit">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <ng-template #elseContact>
            <app-table-contact [form]="fields.value"></app-table-contact>
        </ng-template>
    </div>
</section>