<section class="mb-12">
    <h2 class="font-bold text-2xl mb-6">Categorias</h2>
    <div class="grid">
        <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-lg rounded overflow-hidden"
            *ngFor="let category of categories">
            <img src="{{ category.icon }}" alt=""
                class="rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden object-cover">
            <div class="w-full bg-white p-4 flex flex-col leading-normal">
                <div class="mb-4">
                    <div class="text-gray-900 font-bold text-xl mb-2">{{ category.name }}</div>
                    <p class="text-gray-700 text-base mb-6">Servicios que ofrecemos:</p>
                </div>
                <div class="grid lg:grid-cols-2 gap-6 text-center lg:text-left">
                    <div *ngFor="let service of category.services">
                        <img class="w-16 lg:w-20 h-16 lg:h-20 mb-4 mx-auto lg:mx-0" src="{{ service.icon_2 }}" alt="">
                        <div class="text-gray-900 font-bold text-md mb-2 capitalize">{{ service.name }}</div>
                        <div [innerHTML]="service.summary" class="capitalize"></div>
                        <div [innerHTML]="service.short_description" class="text-sm"></div>
                        <div class="font-bold text-md text-teal-600">${{ service.price }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>