<section class="mb-12">
    <div class="bg-white p-6 shadow-lg rounded overflow-hidden" *ngFor="let testimony of testimonies">
        <h2 class="font-bold text-2xl mb-6 text-center">Testimonios</h2>
        <img class="h-16 w-16 rounded-full mx-auto" src="{{ testimony.image }}">
        <div class="text-center">
            <h2 class="text-lg capitalize font-bold text-teal-500">{{ testimony.name }}</h2>
            <div class="font-bold text-lg">“{{ testimony.text }}”</div>
        </div>
    </div>
</section>