<app-header-app [title]="website['title_ppal']" [description]="website['test_description']"></app-header-app>
<div class="container mx-auto px-4 lg:px-0">
  <app-articles-pymes [articles]="website['articles_pymes_test']"></app-articles-pymes>
  <app-categories [categories]="website['categories']" *ngIf="website['categories']">
  </app-categories>
  <app-testimonies [testimonies]="website['testimony']"></app-testimonies>
  <app-contact-form></app-contact-form>
</div>