<h2 class="font-bold text-2xl mb-6 text-center">Gracias por contactarnos</h2>
<p class="text-center text-gray-600 mb-6">Pronto te contestaremos, esto fue lo que nos enviaste:
</p>
<table class="border-collapse border border-gray-400 mx-auto text-xs md:text-md">
    <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Nombre</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Apellidos</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Mensaje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="border border-gray-400 px-4 py-2">{{ form['first_name'] }}</td>
            <td class="border border-gray-400 px-4 py-2">{{ form['last_name'] }}</td>
            <td class="border border-gray-400 px-4 py-2">{{ form['message'] }}</td>
        </tr>
    </tbody>
</table>