<section class="mb-12">
    <h2 class="font-bold text-2xl mb-6">Articulos sobre Pymes</h2>
    <div class="grid lg:grid-cols-4 gap-10">
        <a class="max-w-sm rounded overflow-hidden shadow-lg bg-white" *ngFor="let article of articles"
            href="{{ article.url_article }}" target="_blank">
            <img class="w-full" src="{{ article.image }}" alt="{{ article.name }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ article.name }}</div>
                <p class="text-gray-700 text-base">{{ article.description }}</p>
                <button class="hover:text-teal-700 text-teal-600 font-bold py-2 rounded my-2">
                    Leer más
                </button>
            </div>
        </a>
    </div>
</section>